*{
        margin: 0;
        padding: 0;
        font-family: 'Poppins', sans-serif;
        box-sizing: border-box;
}
html 
{
        scroll-behavior: smooth;
}
body
{
        background-color: black;
        color: rgb(255, 255, 255);
}
#header 
{
        width: 100%;
        height: 100vh;
        background-image: url(Images/Background.png);
        background-size: cover;
        background-position: center;
}
.container 
{
        padding: 10px 10%;
}
nav
{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
}
.logo 
{
        width: 100px;
}
nav ul li 
{
        display: inline-block;
        list-style: none;
        margin: 10px 20px;
}
nav ul li a 
{
        color: #fff;
        text-decoration: none;
        font-size: 18px;
        position: relative;
}
nav ul li a::after 
{
        content: '';
        width: 0%;
        height: 3px;
        position: absolute;
        background: #00ffea;
        left: 0;
        bottom: -6px;
        transition: 0.5s;
}
nav ul li a:hover::after 
{
        width: 100%;
} 
.header-text 
{
        margin-top: 20%;
        font-size: 20px;
}
.header-text h1 
{
        font-size: 50px;
        margin-top: 20px;
}
.header-text h1 span 
{
        color: #19fff0;
}
.header-text h2 
{
        font-size: 30px;
        margin-top: -30px;
}
/* About  Me */
#about 
{
        padding: 80px 0px;
}
.row 
{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
}
.about-col-1 
{
        flex-basis: 35%;
}
.about-col-1 img 
{
        width: 100%;
        /*height: 100%;*/
        border-radius: 15px;
}
.about-col-2 
{
        flex-basis: 60%;
}
.subtitle1 
{
        font-size: 45px;
        font-weight: 600;
        color: #fff;
}
.tab-titles 
{
        display: flex;
        margin: 20px  40px;
}
.tab-links 
{
        margin-right: 50px;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
        position: relative;
} 
.tab-links::after 
{
        content: ' ';
        width: 0;
        height: 3px;
        background: #00e5ff;
        position: absolute;
        left: 0;
        bottom: -8px;
        transition: 0.5s;
}
.tab-links.active-link::after 
{
        width: 50%;
}
.tab-contents ul li 
{
        list-style: none;
        margin: 10px 0;
}
.tab-contents ul li span 
{
        color: #00e5ff;
        font-size: 14px;
}
.tab-contents 
{
        display: none;
}
.tab-contents.active-tab 
{
        display: block;
}
/* Services */
#services 
{
        padding: 30px 0;
}
.services-list
{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 40px;
        margin-top: 50px;
}
.services-item {
        background-color: #555555;
        padding: 40px;
        font-size: 13px;
        font-weight: 300;
        border-radius: 10px;
        transition: background 0.5s , transform 0.5s;
}
.services-list div 
{
        background-color: #555555;
        padding: 40px;
        font-size: 13px;
        font-weight: 300;
        border-radius: 10px;
        transition: background 0.5s , transform 0.5s;
}
.services-list div i 
{
        font-size: 50px;
        margin-bottom: 30px;
}
.services-list div a 
{
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        margin-top: 20px;
        color: #00ffea;
}
.services-list div:hover 
{
        background: #1b9bb7;
        transform: translateY(-5px);
}
/* Portfolio */
#portfolio 
{
        padding: 50px 0;
}
.work-list
{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 40px;
        margin-top: 50px;
}
.work-item 
{
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        transition: background 0.5s , transform 0.5s;
}
.work-item img 
{
        display: block;
        width: 100%;
        border-radius: 10px;
        transition:  transform 0.5s;
}
.work-item:hover img
{
        transform: scale(105%);
}
.work-list:hover .layer
{
        height: 100%;
}
.layer 
{
        width: 100%;
        height: 0%;
        background: linear-gradient(rgb(0, 0, 0, 0.6), #00ffea );
        border-radius: 10px;
        position: absolute;
        left: 0;
        bottom: 0;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 40px;
        text-align: center;
        font-size: 14px;
        transition: height 0.5s;
}
.layer h3 
{
        font-weight: 500;
        margin-bottom: 20px;
}
.layer a 
{
        margin-top: 20px;
        color: #00e5ff;
        text-decoration: none;
        font-size: 18px;
        line-height: 60px;
        background: #464646;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        text-align: center;
}
.btn 
{
        display: block;
        margin: 50px auto;
        width: fit-content;
        border: 1px solid #00ffea;
        padding: 14px 30px;
        border-radius: 6px;
        text-decoration: none;
        color: #fff;
        transition: background 0.5s , transform 0.5s;
}
.btn:hover 
{
        background: #00ffea;
        
}
/* Contact Section */
.contact-left 
{
        flex-basis: 35%;
}
.contact-right 
{
        flex-basis: 60%;
}
.contact-left p 
{
        margin-top: 30px;
}
.contact-left p i 
{
        color: #00ffea;
        margin-right: 15px;
        font-size: 25px;
}
.social-icons 
{
        margin-top: 30px;
}
.social-icons a 
{
        text-decoration: none;
        margin-right: 15px;
        font-size: 30px;
        color: aliceblue;
        display: inline-block;
        transition:  transform 2s;
}
.social-icons a :hover 
{
        color: #00ffea;
        transform: translateY(-5px);
}
.btn.btn2 
{
        display: inline-block;
        background: #00e5ff;
}
.contact-right form 
{
        width: 100%;
}
form input, form textarea 
{
        width: 100%;
        border: 0;
        outline: none;
        background: #fff;
        padding: 15px;
        margin: 15px 0;
        color: #000000;
        font-size: 18px;
        border-radius: 10px;
}
form .btn2 
{
        padding: 14px 50px;
        font-size: 18px;
        margin-top: 20px;
        cursor: pointer;
}
.copyright 
{
        width: 100%;
        text-align: center;
        padding: 20px;
        background: #555555;
        font-weight: 300;
        margin-top: 20px;
}
/* Responsive (Small Screen) */
nav .fa-solid 
{
        display: none;
}
@media only screen and ( max-width: 600px ) 
{
        #header 
        {
                background-image: url(Images/Official.jpg);
        }
        .header-text 
        {
                margin-top: 100%;
                font-size: 16px;
                transform: translateY(-210px);
        }
        .header-text h1 
        {
                font-size: 30px;
        }
        nav .fa-solid 
        {
                display: block;
                font-size: 23px;
        }
        nav ul 
        {
                position: fixed;
                background-color: #005986;
                top: 0;
                right: -200px;
                width: 200px;
                height: 100vh;
                padding-top: 50px;
                z-index: 2;
                transition: right 0.5s;
                border-radius: 10px;
        }
        nav ul li 
        {
                display: block;
                margin: 25px;
        }
        nav ul .fa-solid 
        {
                display: absolute;                
                transform: translateY(-350px);
                left: 50%;
                cursor: pointer;
        }
        .subtitle1 
        {
                font-size: 40px;
        }
        .layer 
        {
                font-size: 12px;
        }
        .about-col-1 , .about-col-2 
        {
                flex-basis: 75% ;
        }
        .about-col-1 
        {
                margin-bottom: 10px;
        }
        .about-col-2 
        {
                font-size: 14px;
                width: 95%;
        }
        .tab-links 
        {
                font-size: 17px;
                margin-right: 40px;
                transform: translateX(-40px);
        }
        .contact-left , .contact-right 
        {
                flex-basis: 100%;
        }
        .copyright 
        {
                font-size: 13px;
        }
}
#form-status
{
        color: #00ff84;
        margin-top: -25px;
        display: block;
}
#scrollBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #15007d; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#scrollBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
